{% extends "base.html" %}

{% block header_title %}{{ class.identifier }} {% endblock %}
{% block header_custom %}{% endblock %}


{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <h4>
        <small>Unterrichtsprotokoll</small>
      </h4>
    </div>
    <div class="col-xs-3">
      <h4>
        <small>Kursr. {{ class.identifier }}</small>
      </h4>
    </div>
    <div class="col-xs-5">
      <h4>
        <small>DozentIn: {{ class.teacher }}</small>
      </h4>
    </div>
  </div>

  <h3>{{ class.name }} {{ class.subject }}</h3>

  <table class="table table-striped table-bordered">
    <tr>
      <th>
        Datum
      </th>
      <th>
        Unterrichtsinhalte
      </th>
      <th>
        Anwesend
      </th>
    </tr>
    {% for lesson in lessons %}
    <tr>
      <td>
        {{ lesson.date }}
      </td>
      <td>
        {{ lesson.protocol }}
      </td>
      <td>
        {% for student in lesson.attendingStudents.all %} {{ student.firstName }} {{ student.lastName }} {% endfor %}
      </td>
    </tr>
    {% endfor %}
  </table>

</div>


<div class="container well ">
  Vermerke
</div>

<div class="container well">
  Unterschrift {{ class.teacher }}
</div>{% endblock %}

{% block footer %}
{% endblock %}
